body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
/* FONDO VIDEO */
.contenido__video{
	background: #7DD174;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* Estilos para la etiqueta "video" con la calse (.video)  */
.video{
	position: absolute;
	max-width: 300%;
	width: 100%;
}

/* media queries (personalizarlo a su antojo)*/
@media(max-width: 900px){
	.video{
		width: 150%;
	}
}
@media(max-width: 650px){
	.video{
		width: 280%;
	}
}
@media(max-width: 480px){
	.video{ 
		width: 300%;
	}
}

.presentacion,
footer{
	background: rgba(255,255,255,.3);
	padding: 15px;
}

.presentacion{
	height: 100vh;
}
.contenido{
	max-width: 1024px;
	margin: 0 auto;
}

.titulo{
	color: #357DA2;
	font-size: 5vw;
	text-align: center;
}
.informacion{
	font-size: 2vw;
}

.autor{
	display: block;
	color: inherit;
	text-decoration: none;
	text-align: center;
}